#searchBar input.inputBar{
	
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	width: 100%;

}

#searchBar .input-prepend{
	width:90%;
}

#searchBar{
	position : relative;
	clear:both;
	top : 0;
	left: %;
	width: 80%;
}
#searchBar .afficheResult{
	padding : 10px;
	width : 700px;
	height:auto;
	border : inset #5B92F3;
	position : absolute;
	background:white;
	z-index: 10;
	overflow-y:auto;
	left: -25%;
}
#searchBar .afficheResult h4.nomListe{
	margin-top: 10px;
}
#searchBar .afficheBiom{
	float : left ;
	width : 98% ;
	height : auto;
	margin:5px;
}
#searchBar .afficheElem{
	float : left ;
	width : 48% ;
	height : 150px;
	margin:5px;
}
#searchBar .nomListe{
	border : solid #B6EAF1;
	border-radius: 5px;
	background: #BED4FA;
	text-align: center;
}

#searchBar li.historySearch{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#searchBar .closer{
	position:relative;
	display:inline-block;
	vertical-align:rigth;
	clear: both;
	margin-top: -9px;

}
#searchBar button{
	float :right;
	
}
#searchBar .history{
	display:block;
	
}
#searchBar ul.dropdown-menu{
	float:left;
	z-index: 11;
}
#searchBar ul.resultMore{
	float : left;
	width: 85%;
	list-style-type: none;
}
#searchBar .tooltip-inner{
		white-space: initial;
		max-width :400px;
}
#searchBar .tooltipContent{
	max-width :87%;
	overflow: hidden;
	text-overflow: ellipsis;
	float : left;
}
#searchBarNav{
	margin-top : 5px;
	width: 60%
}
#searchBarNav input.inputBar{
	
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	width: 70%;

}
#searchBarNav .input-prepend{
	width:100%;

}
#searchBarNav .tab-content{
	clear: both;
	max-height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	
}


#searchBarNav .afficheResult{
	max-height: 300px;
	position: absolute;
	overflow-y: auto;
	overflow: hidden;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 10px;
	font-weight: 800;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}
#searchBarNav .afficheElem{
	float : left ;
	width : 30% ;
	height : 200px;
	margin:5px;
}
#searchBarNav .nomListe{
	border : solid #B6EAF1;
	border-radius: 5px;
	background: #BED4FA;
	text-align: center;
}

#searchBarNav .closer{
	position:relative;
	display:inline-block;
	vertical-align:rigth;
	margin-right: 10px;
	margin-bottom: 15px;
	clear: both;
}
#searchBarNav button{
	float :right;
	
}
#searchBarNav ul.dropdown-menu{
	float:left;
}
#searchBarNav ul.resultMore{
	float : left;

}
#searchBarNav .tooltip-inner{
	white-space:pre-wrap;
}
#searchBarNav table.inTab td{
	padding: 0 10px 0 10px;
	color: rgb(119, 119, 119);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#searchBarNav table.inTab tr:nth-child(odd){
	background-color: #E2DFDF;

	
}
#searchBarNav table.inTab{
	width: 100%;


}
#searchBar .afficheElem[name=publication] ul{
	margin-left: 5px;
}
#searchBar .afficheElem ul li i{
	
	display: none;
}
#searchBar .afficheElem[name=publication] ul li i{
	margin-right: 5px;
	display: inline;
}
#searchBar .afficheResult[prov=true] ul{
	margin-left: 5px;
	margin-right: 15px;
}
#searchBar .afficheResult[prov=true] ul li i{
	margin-right: 5px;
	display: inline;
}
#searchBar .afficheResult[prov=true] ul li i.fa-circle{
	font-size: 0.5em;
	vertical-align: middle;
}
#searchBarNav table.inTab a{
	cursor: pointer;
}
#searchBarNav div.navCloser{
	float: right;
	font-size: 1.5em;
	cursor: pointer;
}


.search i {
	margin-top:2px;
}
.search { 
	animation-name: homeCycle; 
	animation-duration:1s; 
	animation-direction:alternate; 
	animation-iteration-count:infinite; 
	color : black;
	-webkit-animation-name: homeCycle; 
	-webkit-animation-duration:1s; 
	-webkit-animation-direction:alternate; 
	-webkit-animation-iteration-count:infinite; }	

@keyframes homeCycle{
	0% {background-color:#FFF;} 

	75% {background-color:#FF000A;} 
 
} 

@-webkit-keyframes homeCycle{ 
	0% {background-color:#FFF;} 
	75% {background-color:#FF000A;} 
}
#searchBar div.ulContain {
	float: left;
	width: 50%;
}
#searchBar div.humanOnly{
	float: left;
	font-size: 0.6em;
	font-weight: normal;
	cursor: pointer;
}
div.inTooltip {
	
}

#searchBar div.geneName{
	font-size: 0.7em;
	line-height: 7px;
	padding-left: 20px;
	clear : both
}
#searchBar span.noRes{
	margin-left: 40%;

}
#searchBar div.bulletSpecie{
	float: left;
	margin-right: 5px;
	margin-top: 3px;
	
}
 div.postitSearchContent div.postitTitle{
	white-space: nowrap;
	font-size: 1.1em;
	margin-bottom: 5px;
	font-weight: bold;
	padding: 5px;
	
}
div.postitSearchContent ul.fa-ul{
	margin-left: -5px;
}
 div.postitSearchContent li{
	margin-left: 20px;
	text-align: left;
	
}
div.postitSearchContent ul.fa-ul i{
	font-size:1.5em; 
}
 div.postitSearchContent  a{
	color:white;
	text-decoration: underline;
	
}

#searchBarNav div.input-prepend a.btn{
	text-shadow: none;
}

.popover-title, .popover-content,.right .popover-title ,.right .popover-content,.popover {
	font-weight: normal;
	border :  rgba(51, 108, 174, 1);
	background-color: rgba(51, 108, 174, 1);
	color : white;
	
}
 .popover {
	width: auto;
}
 .popover p, .popover ul li{
	font-size:0.8em; 
}
.popover-title div.titreHelp{
	margin-top: -5px;
	margin-left : -14px;
	width:236px;
	padding:5px;
	margin-bottom:5px;
	padding-bottom : 10px;
	font-size : 1.7em;
	text-align:center;
	border-bottom: solid 1px white;
}
.popover-content{
	display: none;
}
.right .arrow:after{
	border-right-color: rgba(51, 108, 174, 1) !important;
	color: rgba(51, 108, 174, 1) !important;
}
 .bottom .arrow:after{
	border-bottom-color: rgba(51, 108, 174, 1) !important;
}
 .top .arrow:after{
	border-top-color: rgba(51, 108, 174, 1) !important;
}

#searchBarNav div.input-prepend a.active{
	border-color:  rgba(70, 165, 70, 0);
}

div.input-prepend span.add-on i{
	padding-top: 3px;
}
div.input-prepend a.add-on {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 #fff;
}
.popover-title i{
	font-size: 1.5em;
}
