#elementInfo {    
    color : white;
}

#elementInfo .upmark{
    padding : 5px 10px 5px 10px;
    -moz-border-radius: 15px 0px 0px 0px;
    border-radius: 15px 0px 0px 0px;
    background : rgba(0, 0, 0, 0.8);
	
}

#elementInfo .ei-main{
    overflow : auto;  
    -moz-border-radius: 0px 0px 0px 15px;
    border-radius: 0px 0px 0px 15px;
    background : rgba(0, 0, 0, 0.8);        
}

#elementInfo .ei-header{
    padding : 15px 10px 10px 10px;
}

#elementInfo .ei-header i {
    font-size : 1.5em; 
    margin-top : -5px;
    margin-right : 0pxx;
    cursor : pointer;
}


#elementInfo .ei-body{
    overflow:auto;   
    padding : 5px;
}
#elementInfo .pdbDiv {
    margin: 0 auto;    
}

#elementInfo .ei-body > div{
    padding : 5px;
}


#elementInfo .category-header {
    font-size : 1.15em;
}

#elementInfo .category-header i {
    cursor : pointer;
    font-size : 1.25em;
}

#elementInfo .category-content {
    color : rgba(255, 255, 209, 1.0);
}

#elementInfo #glmolWidget {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border : solid white 1px;
    color : rgba(255, 255, 209, 1.0);
}

#elementInfo .pdbChange i {
    cursor : pointer;
    font-size: 2.5em;
}

#elementInfo i:hover {
    color : rgb(135,206,250);
}

#elementInfo .pdbChange i.icon-chevron-left {
    position: absolute;
    left: 15px;
    top: 145px;
}

#elementInfo #glmolWidget canvas:hover {
    cursor:pointer;
}

#elementInfo .pdbChange i.icon-chevron-right {
    position: absolute;
    left: 310px;
    top: 145px;
}

#elementInfo .pdbDiv div.molLoader {
    z-index: 9999999;
    //position : absolute;   
    color : white;
    text-align : center;
    font-size: 3em;   
    //top : 50px;
    //background : rgba(0, 0, 0, 1.0);
}

#elementInfo div.summary {
    padding-top : 0px;
    float:center;
}

#elementInfo div.summary table{
    margin: 0 auto;
}

#elementInfo .summary tbody dl,dt,dd {
    margin : 1px;
    font-size : 0.9em
}

#elementInfo .summary tbody dd {
    color : rgba(255, 255, 209, 1.0);
}

#elementInfo .pdbBanner {
    overflow:hidden;
}
#elementInfo dt.hReport{
	font-weight: normal;
	margin : 0 5px 0 0;
	float: left;
}
#elementInfo div.headerEi img{
	margin-right : 30px
}
#elementInfo div.assoEi div.titleAsso{
	margin-top: 6px;
	padding-left: 15px;
	float : left;
	max-width: 50px;
	
}
#elementInfo div.assoEi a{
	width: 40px;
	float: left;
}
#elementInfo div.commonInfo div.compteur{
	float: left;
	margin-right: 50px;
}
#elementInfo div.commonInfo div.type{
	float: left;
}
#elementInfo div.titleAsso{
	float: left;
	text-align: center;
}
#elementInfo div.caroussel{
	margin-bottom: 30px;
}
#elementInfo div.commonInfo{
	margin-bottom: 10px;
}
#elementInfo div.contentXp{
	font-size: 0.8em;
	height: 200px;
	overflow: auto;
	width: 98%;
}

#elementInfo div.contentXp div.partnerDetail1, #elementInfo div.contentXp div.partnerDetail2{
	width: 45%;
	float: left;
	margin-left: 5px;
	overflow: hidden;
}
