#elementInfo {    
border-radius: 10px 0px 0px 10px;
-webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
border: 1px solid #d4d4d4;
padding: 10px 10px 10px 10px;
font-weight: 200;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}

#elementInfo .upmark{
    padding : 5px 10px 5px 10px;
    -moz-border-radius: 15px 0px 0px 0px;
    border-radius: 15px 0px 0px 0px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	background-color: #fafafa;

	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 10px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	
}

#elementInfo .ei-main{
    overflow : auto;  
    -moz-border-radius: 0px 0px 0px 15px;
    border-radius: 0px 0px 0px 15px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
	background-color: #fafafa;
	border: 1px solid #d4d4d4;
	padding: 10px 10px 10px 10px;
	border-top:0;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}

#elementInfo .ei-header{
    //padding : 15px 10px 10px 10px;
}

#elementInfo .ei-header i {
    font-size : 1.5em; 
    margin-top : -5px;
    margin-right : 0pxx;
    cursor : pointer;
}
#elementInfo div.titreInfoElem{
	float:left;
	margin-top:8px;
	color: rgba(46, 50, 82, 1);
	font-size: 1.4em;
}

#elementInfo .ei-body{
    overflow-y:auto;   
    padding : 5px;
    width : 100%
}
#elementInfo .pdbDiv {
    margin: 0 auto;    
}

#elementInfo .ei-body > div{
    padding : 5px;
}

#elementInfo i.closerElemInfo{
	cursor: pointer;
}
#elementInfo .category-header {
    font-size : 1.15em;
}

#elementInfo .category-header i {
    cursor : pointer;
    font-size : 1.25em;
}

#elementInfo .category-content {
    color:rgba(136, 136, 136, 1);
}

#elementInfo #glmolWidget {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border : solid white 1px;
    color : rgba(255, 255, 209, 1.0);
}

.pdbChange i {
    cursor : pointer;
    font-size: 2.5em;
}

#elementInfo i:hover {
   
}

#elementInfo .pdbChange i.icon-chevron-left {
    position: absolute;
    left: 15px;
    top: 145px;
}

#elementInfo #glmolWidget canvas:hover {
    cursor:pointer;
}

#elementInfo .pdbChange i.icon-chevron-right {
    position: absolute;
    left: 310px;
    top: 145px;
}



#elementInfo div.summary {
    padding-top : 0px;
    float:center;
}

#elementInfo div.summary table{
    margin: 0 auto;
}

#elementInfo .summary tbody dl,dt,dd {
    margin : 1px;
    font-size :1em;
}

#elementInfo .summary tbody dd {
}

#elementInfo .pdbBanner {
}
#elementInfo dt.hReport{
	font-weight: normal;
	margin : 0 5px 0 0;
	float: left;
}
#elementInfo div.headerEi img{
	margin-right : 40px;
}
#elementInfo div.assoEi div.titleAsso{
	margin-top: 6px;
	padding-left: 15px;
	float : left;
	max-width: 50px;
	
}
#elementInfo div.assoEi a{
	width: 40px;
	float: left;
	margin-right: 30px;
}
#elementInfo div.commonInfo div.compteur{
	float: left;
	margin-right: 50px;
}
#elementInfo div.commonInfo div.type{
	float: left;
}
#elementInfo div.titleAsso{
	float: left;
	text-align: center;
}
#elementInfo div.caroussel{
	margin-bottom: 30px;
}
#elementInfo div.commonInfo{
	margin-bottom: 10px;
}
#elementInfo div.contentXp{
	font-size: 0.8em;
	height: 200px;
	overflow: auto;
	width: 98%;
}
#elementInfo i.fa-search{
	margin-right: 40px;
}
.reportEi{
	border-radius: 10px 0px 0px 10px;
	box-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
	background-repeat: none;
	filter: 0 !important;
	border: 0 !important;
	padding: 10px 10px 10px 10px;
	font-weight: 100 !important;
	color: black !important;
	text-shadow: none !important;
	font-family: normal !important;
}
