/* homepage css markup */

body {
   
    background-color: #9AB5E4;/*#fbfbfc#EBF5FF;*/
    height: 100%;
    width:100%;
/* The html and body elements cannot have any padding or margin. */
}
span.sup {
	position: relative;
  	bottom: 1ex; 
 	font-size: 80%;
}

.accordion-group {
    border : none; !important
}

ul.custom {
    margin-right : 10px;
}
li.custom {
    padding-top : 7px;
    margin-bottom : 10px;
}
/* Wrapper for page content to push down footer */
html, body {height: 100%;}

.wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 80px;}  

div.span12.mainAlias {
    font-size : 3em;
    font-family : Verdana;
    min-height: 75px;
}

div.span10.bsContainer {
	margin-left: 10%;
}

div.span6.topHead {
    padding-top : 20px;
}
 
.footer {position: relative;
	margin-top: -30px;  negative value of footer height
	height: 30px;
	clear:both;
} 

/*
.footer {position: relative:
	bottom:0;
	left: 0; right:0;
	-moz-box-sizing: border-box; box-sizing:border-box;
}
 */
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Set the fixed height of the footer here */

.push{
	height:50px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


#contentOne div.content {
   /* margin-bottom : 5px;
    padding :9px;*/
}

div.mainContent {
    width:95%;

 }

#headerBox table {
    background :  #fbfbfc;/*whiteSmoke;*/
}

#headerBox table td:nth-child(2) {
    text-align:center;
    font-size:1em;
}

#headerBox {
/*    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height : 80px;*/
}

#mainHeader {
padding-left : 20px;
padding-right : 20px;
margin-bottom : 10px;
margin-top : 5px;
width : inherit;
}

#headerBox h4 {
    text-align:center;
    font-size :1.4em;
    padding : 0px;
}

#headerBox table th {
    text-align:center;
    font-size:0.9em;
    padding:4px;
    /*padding-left : 2px;
    padding-right : 2px; */
}

#headerBox table td {
    font-size:0.75em;
    padding:3px;
}

.headerBoxWrapper {
    padding-right:65px;
/*   vertical-align : center;*/
}
dl.societies img {
    width : 55px;
    margin-bottom: 9px;
//   float:right;
    
}

.accordion-heading {
    background-color : white;
}


ul.accordionSubList {
    list-style: none;
    margin-left : 0px;
}

.accordionSubList li {
    padding: 0px 0; 
}

.pubmedLink {
    font-size : 0.8em;
    color : #3f4c6b;
    text-decoration:underline;
}
 
.container {
    width : 100%;
    background-color: #f5f5f5;
}

#mainCentral {
    min-height : 500px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;/*#fbfbfc#EBF5FF;*/
   /* margin-right : 5px;*/
    padding : 25px 25px 25px 45px;
}

#contentFive div.listBiomol li {
    margin : 5px 0px 5px 0px;
    font-size : 1.25em;
}

#contentFive div.listBiomol {
    margin-bottom : 40px;
}


#mainHeader a:hover {text-decoration:none;}

#contentTwo dt {
    margin-top : 25px;
}

li .icon-download {
    color : rgba(50, 205, 50, 1);
    cursor : pointer;
}


div.topHead{
	float:left;
	width:32%;
	margin: 5px 5px 0px 5px;
}
.logoRight {
	width : 165px;
	margin-right : -20px;
}
.logoLeft {
    width: 165px;
    margin-left: -22px;
}
.logoCenter {
    display:block;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

.firstPart,.secondPart{
	margin-bottom: 20px;
}
h3{
	text-align : center;
}
textarea{
	width : 60%;
}
div.downloadContent  ul{
	margin: 0 30px 10px 25px;
} 


.CurrentToggle {
	background-color: LightCyan;
	color:#000000;
	font-weight: bold;
	font-size:1.1em;
}

.accordion-base {
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
}

.accordion-separator {
    background-color: whitesmoke;
    padding: 14px 14px 14px 14px;
    text-align: center;
    margin-top: 15px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom : 2px;
}


.fa-ul li {
    margin-left : -10px;
}

#contentNine dt {
    padding-top : 20px;
}
#contentNine dt img {
    margin-right : 20px;
}

div.mainAlias img {
    margin-top: -30px;
    margin-bottom: 20px;
}

div.browser {
    padding-top : 0em;
    margin-bottom : 0.5em;
}

div.browser .figCaption {
    font-weight : 200;
    font-size : 0.85em;
    text-align : right;	
}

div.browser img {
    float : right;
}
div.browser p {
    float : right;
    
}

div.youtubeSnipet {
	text-align:center;
	margin-bottom : 35px;
	margin-top : 20px;
}


