.glmolHeader {
    min-height : 50px;
    background-color:rgba(234, 234, 174, 0.8);
}

.glmolFooter {
    padding : 5px;    
}


#segid-toggle.btn-group a.btn.dropdown-toggle {
    padding : 5px 5px 15px 5px;
    font-size : 10px; 
}

#segid-toggle.btn-group .dropdown-menu {
    width : 2em;
    min-width : 2em;
    text-align : center;
    cursor : pointer;
}

#segid-toggle.btn-group {
    position:absolute;
    left : 3px;
}

.glmolFooter div.molecularSequence table tr:nth-child(1) {    
    font-family : 'courrier';
    font-size : 0.7em;
    color : rgba(51, 204, 255, 1);
    text-align:center;
} 

.glmolFooter div.molecularSequence table tr:nth-child(2) td {
    min-width : 1em;
    max-width : 1em;
    cursor : crosshair;
    text-align:center;
}

.glmolFooter div.molecularSequence table tr:nth-child(2) td.pushed{
    background-color : rgba(205, 205, 193, 1);
}
