input.inputBar{
	
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	width: 70%;

}
.input-prepend{
	width:60%;

}
#searchBar{
	position : relative;
	clear:both;
	top : 0;
	left: 20%;
	width: 80%;
}
.afficheResult{

	width : 1000px;
	height:auto;
	border : inset #5B92F3;
	position : absolute;
	background:white;
}
.afficheElem{
	float : left ;
	width : 30% ;
	height : 200px;
	margin:5px;
}
.nomListe{
	border : solid #B6EAF1;
	border-radius: 5px;
	background: #BED4FA;
	text-align: center;
}

li.historySearch{
	white-space: nowrap;
}

.closer{
	position:relative;
	display:inline-block;
	vertical-align:rigth;
	margin-right: 10px;
	margin-bottom: 15px;
	clear: both;
}
button{
	float :right;
	
}
ul.dropdown-menu{
	float:left;
}
ul.resultMore{
	float : left;
}
.tooltip-inner{
	white-space:pre-wrap;
}
