circle:hover {
    cursor : pointer;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dotted #000;
}

.glowingNode {
  
    stroke: "#9ecaed"
    box-shadow: 0 0 30px #9ecaed!important; 
}

