circle:hover {
    cursor : pointer;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dotted #000;
}

.glowingNode {
    stroke: "#9ecaed"
    box-shadow: 0 0 30px #9ecaed!important; 
}

.nodeTooltip {
    z-index : 100;
}

.nodeTooltipInner {
    

//    background :orange!important;
}
.nodeTooltip .tooltip-inner {
    max-width: 100%!important;
}

.nodeTooltipInner .head {
    font-weight: bold;
    font-size: 1.15em;
}
.nodeTooltipInner div.tooltipAttr {
    display: inline-block;
    text-align: left !important;
}

.nodeTooltipInner div.tooltipAttr span {
    float: left;
    
}