div#reportDiv .navigueBar a{
	color : white ; 
	text-decoration: none;
	cursor: pointer;
}

div#reportDiv #psicquicView .psqTitle {
	color : rgb(61, 55, 55);
	font-size: 0.7em;
	font-weight: 500;
	margin-top: -18px;
	padding-left: 15%;
}

div#reportDiv #psicquicView {
	border : 1px solid black;
	padding : 5px 5px 5px 5px;
	margin-top : 40px;
	min-height : 53px;
	width : 95%;
	margin-left : 5px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px; 


}

div#reportDiv #psicquicView .psqStatus.psqError {
	color : rgb(232, 37, 37);
}

div#reportDiv #psicquicView .psqFont.psqError {
	color : rgb(232, 37, 37);
}

div#reportDiv #psicquicView div.psqLogo { 
	padding-left : 10px;
	padding-top : 5px;
}

div#reportDiv #psicquicView div.psqStatus { 
	font-size : 1.5em;
	padding-top : 15px;
	font-weight : 200;
}

div#reportDiv #psicquicView div.psqFont { 
	font-size : 1.5em;
	padding-left: 35px;
	padding-top: 10px;
}

div#reportDiv .header{
	background-color: black ;
	height: 40px;
	clear : both ;
	
}

div#reportDiv .navigueBar{
	height: 30px;
	float : left;
	display: inline;
	background-color:inherit;
	margin-top: 10px;
	margin-right: 35px;
	}

div#reportDiv .content{

	min-height:  600px;
	padding: 10px 30px 10px 30px;
	overflow: auto;
	/*background: #AFEBDA;*/
}
div#reportDiv .content h3{
	text-align: center;

}
div#reportDiv .content p {
	margin-bottom: 20px;
}
div#reportDiv .info{
	float : left;
}
div#reportDiv .navigueBar a:hover{
	color : white ; 
	text-decoration: underline;
}
div#reportDiv .dataTables_wrapper tbody tr {
    height: 50px; 
}
div#reportDiv .tooltip-inner{
	max-width: 800px;
}
div#reportDiv .dataTables_wrapper tbody tr td:last-child i:hover{
	cursor: pointer;
}
div#reportDiv .drop ul li div div:nth-child(-n+2):hover{
	cursor: default;
}
div#reportDiv ul.pdb{
	top:auto;
	left:auto;
	width : 200px;
	max-height : 150px;
	overflow: auto;
	padding-left:10px;
	text-align: center;
}
div#reportDiv i.pdbView{
	cursor: pointer;
}
div#reportDiv .niceRed{
	color : rgb(187, 38, 38); 
	font-weight : bold;
}
div#reportDiv div.dataTables_paginate {
    float: left;
    margin: 0;
}
div#reportDiv div.dataTables_filter{
    float: left;
    margin: 0;
   
}
div#reportDiv div.dataTables_filter input{
	 width: 100px;
}
div#reportDiv td div.row-fluid div.inlineTable{
	
	padding : 5px 5px 5px 5px;
	font-size : 0.75em;
	border: dashed 1px #A2B5F3;
	overflow: hidden;
	text-overflow: ellipsis;
}
div#reportDiv td.supportingXp div.row-fluid{
	
}
div#reportDiv table.dataTable td.supportingXp {
		background: #F5F2FF;
		padding: 0 0 0 0;
}
div#reportDiv .axis {
  font: 10px sans-serif;
  
}
div#reportDiv .axis path, div#reportDiv .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
div#reportDiv p.cursorChange{
	cursor: pointer;
}
div#reportDiv div div.bindingSite div.divTitre{
	background: rgba(119, 136, 255, 1);
}
div#reportDiv div.bindingSite {
	background: rgba(119, 136, 255, 0.7);
	height: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 5px;
}
div#reportDiv div div.xpModif div.divTitre{
	background:#D2D5CC;
}
div#reportDiv div.barreColor{
	width: 10px;
	margin-left: -10px;
	float: left;
}
div#reportDiv div.xpModif{
	background:rgba(210, 213, 204, 0.63);
	height: 100%;
	margin-bottom: 20px;
	

}
div#reportDiv dl.downFeature{
	padding: 0 10px 0 10px;
}
div#reportDiv div.partner1 p, div#reportDiv div.partner2 p {
	margin-left : 10px;
}
div#reportDiv div.partner1  {
	background: rgba(168, 175, 246, 0.7);
	border-radius: 5px;
	padding: 10px;
}
div#reportDiv div.partner1.muta ,div#reportDiv div.partner2.muta {
	background: none;
	border-radius: 5px;
}

div#reportDiv div.partner2  {
	background: rgba(142, 182, 233, 0.7) ;
	border-radius: 5px;
	padding: 10px;
}
div#reportDiv div.partner1 div.divTitre.feature {
	background: rgba(168, 175, 246, 1) ;
	margin: -10px -10px 10px -10px;
}
div#reportDiv div.partner2 div.divTitre.feature {
	background: rgba(142, 182, 233, 1) ;
	margin: -10px -10px 10px -10px;
}
div#reportDiv div.partnerDetail  {
	background: rgba(197, 252, 208, 0.7) ;
	
}

div#reportDiv span.addCart{
	float:right;
}
div#reportDiv  span.publi{
	float:right;
}

div#reportDiv div.xpDetail div.divTitre{
	background: #CCD1D1;
}
div#reportDiv div.xpDetail{
	background: #DCE2E2;
	border-radius: 5px;
}
div#reportDiv div.bulletSpecie{
	display: inline;
	margin-left: -10px;
	margin-right: 10px;
}
div#reportDiv div.pdbMolViewPostit{
	margin-bottom: 30px;
}
div#reportDiv div.kinetic{
	border-radius: 5px;
	float: right;
	width: 245px;
	top: 0;
	border: 1px solid;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom : 7px;
}

div#reportDiv div.kinetic dt.hReport {
	font-weight : 300;
}

div#reportDiv div.kinetic dd span.unit{
	font-size:0.7em;
}

div#reportDiv div.kinetic dl.featureContent{
	padding-left: 5px;
}
div#reportDiv div.commentDetail div.divTitre{
	background: #E8E0FF;
}
div#reportDiv div.commentDetail{
	background: rgba(232, 224, 255, 0.59);
	border-radius: 5px;
}
div#reportDiv div.publicationDetail div.divTitre{
	background: #D7D5DD;
}
div#reportDiv div.publicationDetail{
	background: rgba(215, 213, 221, 0.61);
	border-radius: 5px;
}
div#reportDiv  div.interactionDetail div.divTitre{
	background: #E9E8D7;
}
div#reportDiv div.interactionDetail{
	background: rgba(233, 232, 215, 0.67);
	border-radius: 5px;
}
div#reportDiv  div.featureContent{
	padding: 0 10px 0 10px;

}
div#reportDiv div.xpDetail div.featureContent{
	padding: 0 10px 0 10px;
	float: left;
	width: 470px;
}
div#reportDiv  div.span4{
	min-height: 150px;
	margin-bottom: 10px;
}
div#reportDiv li div.span4{
	min-height: 0px;
	margin-bottom: 0px;
}
div#reportDiv .contentXp{
	margin-top: 20px;
	
	padding: 10px 10px 10px 10px;
	/*background: #AFEBDA;*/
}
div#reportDiv .contentXp h3{
	text-align: center;
}
div#reportDiv div.divTitre.special{
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 40px;
	
}
div#reportDiv div.divTitre{
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	
}
div#reportDiv div.postitContent{
	padding-left: 10px;
	padding-right: 10px;
	
}

div#reportDiv div.inPostit div.odd div.divTitre{
	background: #DBD0D0;
}
div#reportDiv div.inPostit div.odd{
	background: rgba(219, 208, 208, 0.5);
}
div#reportDiv div.inPostit div.even div.divTitre{
	background: rgba(146, 161, 189, 1);
}
div#reportDiv div.inPostit div.even{
	background: rgba(146, 161, 189, 0.67);
}
div#reportDiv div.general div.divTitre{
	background: rgba(195, 205, 243, 1);
}
div#reportDiv div.general{
	background: rgba(195, 205, 243, 0.67);
	margin-bottom: 20px
}
div#reportDiv div.domainAnnot div.divTitre{
	background: rgba(159, 188, 226, 1);
}
div#reportDiv div.domainAnnot{
	background: rgba(159, 188, 226, 0.67);
	margin-bottom: 20px
}
div#reportDiv div.inPostit,div.span8{
	margin-bottom: 10px;
}
div#reportDiv  div.divTitre i.fa-external-link{
	float: none;
	margin-top:0;
}
div#reportDiv div.content.infoBio{
	min-height: 0;
	padding-top:50px;
}
div#reportDiv div.btn-group a{
	height: 20px;

}
div#reportDiv div.btn-group i{
	font-size: 1.5em;
	margin-top: 3px;
}
div#reportDiv div.btn-group a:first-child{
	color: white;

}
div#reportDiv div.btn-group a:last-child{
	background-image:none; 
	background-color: rgb(61, 69, 75);
	color: white;
	font-size: inherit;
	text-shadow: none;
}
div#reportDiv div.btn-group{
	font-size: 0.8em;
	
}
div#reportDiv dt.hReport{
	font-weight: bold;
	margin : 0 5px 0 0;
	float: left;
}
div#reportDiv .popover-title, div#reportDiv .popover-content,div#reportDiv .bottom .popover-title ,div#reportDiv .bottom .popover-content,div#reportDiv .popover {
	font-weight: normal;
	border :  rgba(51, 108, 174, 1);
	background-color: rgba(51, 108, 174, 1);
	color : white;
	
}
div#reportDiv .popover a{
	color:yellow;
}
div#reportDiv .popover-content{
	padding: 5px;
	text-align: center;
}
div#reportDiv .bottom .arrow:after{
	border-bottom-color: rgba(51, 108, 174, 1) !important;
}
div#reportDiv div.content.barChart{/*copy paste bootstrap must adapt webKit*/
	min-height: 0px !important;
	padding: 20px 0 0 0;
	margin:0 30px 0 30px;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
}

div#reportDiv span.cartBio{
	float: right;
	margin-top: -15px;
}
div#reportDiv dd{

}
div#reportDiv span#topLogo .icon-white {
	color: white;
	margin-top: 6px;
	font-size: 2em;
	margin-left: 10px;
}
div#reportDiv div.reportTarget{ 
	color : white; 
	float : left;
	text-align:left;
	margin-left: 5px;
}
div#reportDiv div.pdb.postitContent{
	min-height: 368px;
	padding-bottom : 15px;
}
div#reportDiv div.assocTable div.title{
	font-weight:bold;
	text-align: center;
	
}

div#reportDiv div.Small:nth-child(odd) div.divTitre{
	background: rgba(144, 209, 235, 1);
}
div#reportDiv div.row-fluid div.Small:nth-child(odd) {
	background: rgba(144, 209, 235, 0.67);
}
div#reportDiv div.Small:nth-child(even) div.divTitre{
	background: rgba(111, 172, 103, 1);
}
div#reportDiv div.row-fluid div.Small:nth-child(even) {
	background: rgba(111, 172, 103, 0.67);
}
div#reportDiv div.Small{
	margin-top: 20px;
	border-radius: 5px;
}
div#reportDiv div.Small:nth-child(even) div.divTitre{
	background: rgba(111, 172, 103, 1);
}
div#reportDiv div.abstract {
	background: rgba(231, 120, 120, 0.67);
	border-radius: 5px;
}
div#reportDiv div.abstract div.divTitre {
	background: rgba(231, 120, 120, 1);
}
div#reportDiv div.publicationContent{
	margin-top : 30px;
}
div#reportDiv div.abstract div.postitContent {
	padding: 20px;
	text-align: justify;
}
div#reportDiv div.assocTable{
	margin-top: 30px;
}
div#reportDiv div.assocTable div.topHead{
	height: 50px ;
	text-align: center;
	font-size: 1.5em;
}
div#reportDiv div.center{
	margin-left: auto;
	margin-right: auto;
	width: 480px;
}
div#reportDiv div.associationContent{
	margin-top: 30px;
}
div#reportDiv div.uniprot div.dataTables_wrapper{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
div#reportDiv div.Go div.dataTables_wrapper{
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
}
div#reportDiv div.assocTable div.dataTables_wrapper{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
div#reportDiv div.structurePdb{
	min-height: 400px;
}
div#reportDiv div.centralXp{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

div#reportDiv dd{
	text-align: justify;
}
div#reportDiv div.associationContent dd{
	text-align: justify;
	line-height: 25px;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: auto;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
div.noMatch{
	margin-top:60px;
	text-align: center;
}
.popover-content{
	padding: 0;
	max-height: 350px;
}

.popover-content div.popoverContent.genuineTD {
    background-color : rgb(173, 248, 173);
}

.popover-content div.popoverContent.inferrenceTD {
    background-color : orange
}

#reportDiv div.divTitre span.headGenCount {
    color : rgb(1, 179, 1);
    font-weight : bold;
}
#reportDiv div.divTitre span.headInfCount {
    color : orange;
    font-weight : bold;
}
#reportDiv div.divTitre ul.xpPool {
    list-style: none;
}
#reportDiv div.divTitre ul.xpPool li{
    text-align : left;
    margin-left : 15px;
    font-weight : normal;
}
table.interact span.nbGen {
    color : rgb(1, 179, 1);
    font-size : 1.2em
}
table.interact span.nbInf {
    color : orange;
    font-size : 1.0em;
}

div.popoverContent:nth-child(even){
	background: rgb(212, 210, 216);
}
div.popoverContent{
	padding: 5px;
}
div#reportDiv div.author{
	margin-top: 40px;
}
div#reportDiv i.startMolView{
	font-size: 4em;
	margin-left: 40%;
	cursor: pointer;
	margin-top: 35%;
}
div#reportDiv div.keywrdDef{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(154, 178, 231, 0.7);
	margin-bottom: 50px;
	border-radius:10px;
}
div#reportDiv div.keywrdDef div.divTitre{
	background-color: rgb(154, 178, 231 );
}
div#reportDiv div.partcipants{
	background-color: rgba(200, 215, 243, 0.64);
	padding: 10px;
	border-radius: 5px;
}
div#reportDiv div.partcipants>div.divTitre{
	background-color: rgba(200, 215, 243, 1);
	margin: -10px -10px 10px -10px;
}
div#reportDiv span.reportType{
	font-size:1.2em;
	float: left;
	height: 20px;
	background-color: rgba(158, 168, 173, 0.76);
	padding: 8px;
	position: absolute;
	border: 1px rgb(158, 168, 173) solid;
	border-radius: 5px 0;

}
div#reportDiv div.keywrdDef div.feature{
	padding: 10px;
}
div#reportDiv div.biomUni div.dataTables_wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
div#reportDiv table.mutationTable td{
	text-align: center;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
div#reportDiv div.authorTable div.dataTables_wrapper{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
html, body {height: 100%;}

.wrap {min-height: 100%;}

#reportDiv {overflow:auto;
	padding-bottom: 130px;}  /* must be same height as the footer */

.footer {position: relative;
	margin-top: -135px; /* negative value of footer height */
	height: 135px;
	clear:both;
} 
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Set the fixed height of the footer here */

.push{
	height:50px;
}
div.footer div.container{
	background-color: rgb(230, 230, 230);
}
i.helpMe{
	color:white;
	position: absolute;
	top: 6px;
	right : 230px;
	cursor:pointer;
	font-size: 2em;
}
.header div.popover-content{
	padding: 5px;
	text-align: center;
	
	
	
}
 #reportDiv .postitSpecie{
	float: right;
	margin-top: -40px;
	display: inline-block;
	margin-right: 20px;
}
#reportDiv div.publicationContent table.assoTable th:nth-child(1), 
#reportDiv div.publicationContent table.assoTable th:nth-child(2), 
#reportDiv div.publicationContent table.assoTable td:nth-child(1),
#reportDiv div.publicationContent table.assoTable td:nth-child(2){
	width: 250px !important;
}

.alertNetwork {
    animation-name: networkCycle; 
    animation-duration:1.5s; 
    animation-direction:alternate; 
    animation-iteration-count:infinite; 
    
    -webkit-animation-name: networkCycle; 
    -webkit-animation-duration:1.5s; 
    -webkit-animation-direction:alternate; 
    -webkit-animation-iteration-count:infinite; }	
}
@keyframes networkCycle 
{
  /*  0% {color:#FFFFFF;} 
    25% {color:#B1E7A4;} 
    50% {color:#22AC00;} 
    75% {color:#B1E7A4;} */
    0% {color:#FFFFFF;} 
    25% {color:#A5DAEB;} 
    50% {color:#4CB9DB;} 
    75% {color:#A5DAEB;}
} 

@-webkit-keyframes networkCycle 
{ 
    0% {color:#FFFFFF;} 
    25% {color:#A5DAEB;} 
    50% {color:#4CB9DB;} 
    75% {color:#A5DAEB;}
/*    0% {color:#FFFFFF;} 
    25% {color:#B1E7A4;} 
    50% {color:#22AC00;} 
    75% {color:#B1E7A4;} */
}

i.fa-share-alt {
font-size : 3em;
}
a.drop.cog {
margin-top : -5px;
}