
.tabularNetworkBodyContent {
    position: relative;
}

#tabularBookmarkWrapper {
    min-height: 40px;
    padding-left: 25px;
    padding-top : 5px;
    padding-right: 15px;
    background-color : rgba(255, 255, 204, 1);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.065);
    margin-left : -10px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    cursor : pointer;
}

.tabularNetworkHeader {
    padding : 5px 20px 20px 10px;
    background-color : rgba(203, 203, 203, 1);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius:  4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;      
    font-weight: 200;
    color: #777777;
    border-bottom : none;
    text-shadow: 0 1px 0 #ffffff;
    text-align : center;
}

.tabularNetworkHeader button#nodeLabelToggler {
    margin-top : 10px;
}

.tabularNetworkHeader i {
    cursor:pointer;
}

.tabularNetworkBody {
    background-color: rgba(218, 218, 218, 0.5);     
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;	
}

.tabularNetworkBody thead th:nth-child(1){
    cursor : pointer;

}

.tabularNetworkFooter {
    min-height : 30px;
    background-color: rgba(192, 192, 192, 0.8);     
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius:  0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;      
}

.tabularNetworkHeader ul#operator {
    margin-top : 10px;
}

.tabularNetworkHeader ul#operator li:nth-child(1){
   text-align:center;
}

.disabled-link {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}
.tabularNetworkHeader .action:hover {
    color : white;
    background-color : red;
}

.tabularNetworkBodyHead {
    padding-top : 10px;
    padding-left : 5px;
    border-bottom : solid 1px rgba(0, 136, 204, 1);
    margin-bottom : 5px;
}

.tabularNetworkBodyHead ul {
    margin-bottom : 10px;
}

.tabularNetworkBodyHead li{
    padding : 5px 5px 5px 5px;
    margin-left : 5px;
    color : rgba(0, 136, 204, 1);
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius:  4px 4px 0px 0px;
    border-radius: 4px 4px 4px 4px; 
//    margin-bottom : 5px;
}

.tabularNetworkBodyHead li:hover {
    cursor:pointer;
}

.tabularNetworkBodyHead li.active{
    color : white;
    background-color : rgba(0, 136, 204, 1); 
}


.tabularNetworkBodyContent {
    overflow: auto;   
    outline: none;
}

.tabularNetworkBodyContent td {
    font-size:0.9em;    
}

@-webkit-keyframes rowFocusOdd {
  from { background-color: #FACC2E; }
  to { background-color: white; }
}
@-moz-keyframes rowFocusOdd {
  from { background-color: #FACC2E; }
  to { background-color: white; }
}
@-o-keyframes rowFocusOdd {
  from { background-color: #FACC2E; }
  to { background-color: white; }
}
@keyframes rowFocus {
  from { background-color: #FACC2E; }
  to { background-color: white; }
}

.rowFocusOdd {
  -webkit-animation: rowFocusOdd 1.66s 3; /* Safari 4+ */
  -moz-animation:    rowFocusOdd 1.66s 3; /* Fx 5+ */
  -o-animation:      rowFocusOdd 1.66s 3; /* Opera 12+ */
  animation:         rowFocusOdd 1.66s 3; /* IE 10+ */
}


@-webkit-keyframes rowFocusEven {
  from { background-color: #FACC2E; }
  to { background-color: #acf; }
}
@-moz-keyframes rowFocusEven {
  from { background-color: #FACC2E; }
  to { background-color: #acf; }
}
@-o-keyframes rowFocusEven {
  from { background-color: #FACC2E; }
  to { background-color: #acf; }
}
@keyframes rowFocusEven {
  from { background-color: #FACC2E; }
  to { background-color: #acf; }
}

.rowFocusEven {
  -webkit-animation: rowFocusEven 1.66s 3; /* Safari 4+ */
  -moz-animation:    rowFocusEven 1.66s 3; /* Fx 5+ */
  -o-animation:      rowFocusEven 1.66s 3; /* Opera 12+ */
  animation:         rowFocusEven 1.66s 3; /* IE 10+ */
}

.tabularNetworkBodyContent thead th {
    text-align : center;
    vertical-align : middle;
    font-size:1.25em;
}

/* Node table row specific format */
.tabularNetworkBody div:not(.tabularNetworkBodyHead) {
//    font-size : 0.98em;
}

.tabularNetworkBodyContent table tbody tr.even {
    background-color: #acf;
    border : none !important;
}

.tabularNetworkBodyContent table tbody tr td {
    border : none !important;
}

.tabularNetworkBodyContent table tbody tr.even td.sorting_1 {
    background-color: #acf;
    border : none !important;
}

.tabularNetworkBodyContent table tbody tr.odd {
    background-color: white;
    border : none !important;
}

.tabularNetworkBodyContent table tbody tr.odd td.sorting_1{
    background-color: white;
    border : none !important;
}

/* Node table column specific format*/
.tabularNetworkBodyContent table td:nth-child(1){
    max-width : 50px;
    overflow:hidden;
    cursor:pointer;
}

.tabularNetworkBodyContent table td:nth-child(2){
    max-width : 100px;
    text-overflow: ellipsis;   
    overflow: hidden;  
}


.tabularNetworkBodyContent table td:nth-child(3){
    max-width : 150px;
    text-overflow: ellipsis;   
    overflow: hidden;  
}

.tabularNetworkBodyContent table td:nth-child(4){
    max-width : 150px;
    text-overflow: ellipsis;   
    overflow: hidden;  
}

.tabularNetworkBodyContent table td:nth-child(5){
    max-width : 50px;
    overflow: hidden;  
    padding-top : 0.2em;
    text-align:center;
}

.tabularNetworkBodyContent .tabularNetworkBodyLinkTable table tbody td {
    text-align : center;
}

.tabularNetworkBodyContent .tabularNetworkBodyLinkTable table tbody td span.genuine{
    color:yellow;
}
.tabularNetworkBodyContent .tabularNetworkBodyLinkTable table tbody td span.inferred{
    color:white;
}


.tabularNetworkBodyContent table td {
    height:28px;
    overflow:hidden;
    white-space: nowrap; 
}

.tabularNetworkFooter {
    padding-top : 10px;
    padding-bottom : 15px;
    padding-left: 15%;

}

.tabularNetworkFooter div.operateLabel {
    float: left;
    display: block;
    height: 25px;
    margin-left: 5px;
    padding-right: 8px;
    padding-left: 8px;
    /* background-color: whitesmoke; */
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    padding-top: 3px;
}
.tabularNetworkFooter .btn-group>.btn:first-child.btn-info {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

}

.tabularNetworkFooter .btn-group>.btn {
    min-width : 75px;
    max-width : 75px;
}

.tabularNetworkFooter .btn-group>.btn i.fa.fa-lg{
    line-height : 1.15em;
}

.tabularNetworkFooter .btn-group>.btnCart{
    //background-color:green;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.tabularNetworkFooter .btn-group>.btnInv{
    //background-color:green;
   -webkit-border-radius: 0px 0px 0px 0px;
   -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.tabularNetworkFooter .btn-group>.btnHide{
    //background-color:green;
}

.jspTrack {
    background: rgba(0, 136, 204, 0.2) !important;
}

.jspVerticalBar {
    background: rgba(0, 136, 204, 0.2) !important;
}

.jspDrag {
    background: rgba(0, 136, 204, 0.2) !important;
}


div.tabularBlocker {
    position: absolute;
    top: 0em;
    right: 0em;
    background-color: #F5F5F0;
    width : 100%;
    height : 85%;    
    text-align:center;
    padding-top : 40px;
    overflow : hidden; 
 /*   background-image: url("../data/psq_smallball_loader.gif");
    background-repeat: no-repeat;*/
}
