# IDN projet file ignore rules
#
# batik is an external project
dependencies/batik-1.7/
# molecular data stores makecore protein files
# these are database-like files (Gigabytes)
main/data/molecularData/*
# cgi-bin log files
main/cgi-bin/current/log/*
# deprecated file to delete
main/html/toDel
main/cgi-bin/current/toDel
main/cgi-bin/current/lib/perl/toDel
main/js/toDel
main/css/toDel
main/data/toDel/
# development test-cases
main/html/develPages/
